/*
* @Author: v4if
* @Date:   2016-09-07 10:36:14
* @Last Modified by:   v4if
* @Last Modified time: 2016-09-08 17:04:07
*/

body {
  color:#404040;
  font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
  /*font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;*/
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
}

.leaflet-container .marker-description img {
    max-width: 100% !important;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

h1 {
  font-size:22px;
  margin:0;
  font-weight:400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color:#404040;
  text-decoration:none;
}

a:hover {
  color:#101010;
}

.sidebar {
  position:absolute;
  width:20%;
  height:100%;
  top:0;left:0;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
}
.pad2 {
  padding:20px;
}

.map {
  position:absolute;
  left:20%;
  width:80%;
  top:0;bottom:0;
}

.heading {
  background:#fff;
  height:60px;
  line-height:60px;
  padding:0 10px;
}

.listings {
  height:100%;
  overflow:auto;
  padding-bottom:60px;
}

.listings .item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
}

.listings .item:last-child { border-bottom:none; }
.listings .item .title {
  display:block;
  color:#00853e;
  font-weight:700;
}

.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item .title:hover { color:#8cc63f; }
.listings .item.active {
  background-color:#f8f8f8;
}
::-webkit-scrollbar {
  width:3px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#00853e;
  border-radius:0;
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

#heading_time {
  display: inline-block;
}
#heading_bottom {
  border-bottom:1px solid #eee;
}
#heading_bottom img {
  padding-top: 10px;
  padding-left: 10px;
  vertical-align: bottom;
}

/* Marker tweaks */
.leaflet-popup-content img {
  max-width: 100% !important;
}
